# --- Node.js ---
node_modules/
dist/
.env
.DS_Store

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.egg-info/

# --- IDEs ---
.vscode/
.idea/

# --- Logs ---
*.log

# --- Firebase ---
# Firebase service account credentials (keep this secret!)
fumorive-db-firebase-adminsdk-fbsvc-0353bb0508.json
*-firebase-adminsdk-*.json

# my own
Template Proposal Pra (1).pdf
PENJELASAN_BACKEND.md
frontend/DASHBOARD_DOCUMENTATION.md
proposal/BAB_II_Deskripsi_Inovasi.md
backend/passed/API_BASICS_EXPLAINED.md
